.place__title {
  font-weight: 900;
  color: #FFFFFF;
  margin: 4px 16px -2px;
  word-wrap: break-word;
  font-size: 32px;
  line-height: 1.09;
}


@media all and (min-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
    max-width: 330px;
    margin: 6px 0 -5px;
  }
}

@media all and (min-width: 1024px) {
  .place__title {
    font-size: 72px;
    max-width: 460px;
    line-height: 1.06;
    margin: 6px 0 -5px;
  }
}

@media all and (min-width: 1280px) {
  .place__title {
    margin: 2px 0 -6px;
  }
}
