.cover__overlay {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
}

.cover__overlay:before {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  background: #2A2C2F;
  content: '';
  transition: all 1s linear;
}

.cover__overlay:hover:before {
  opacity: 0.8;
}
